<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Generator</title>
</head>
<style>
    .container {
        background-color: black;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .color {
        height: 100%;
    }
</style>
<body>
    <form id="form">
        <input type="text" name="query" placeholder="Enter a color">
        <button type="submit">Submit</button>
    </form>
    
    <div class="container"></div>

    <script>
        const form = document.querySelector('#form');
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const query = form.elements.query.value;
            fetch("/palette",{
                method: "POST",
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    query: query
                })
            })
            .then(res => res.json())
            .then(data => {
                const colors = data.colors;
                const container = document.querySelector('.container');
                container.innerHTML = "";
                for(const color of colors){
                    const div = document.createElement("div");
                    div.classList.add("color");
                    div.style.backgroundColor = color;
                    div.style.width = `calc(100% / ${colors.length})`;

                    div.addEventListener('click', () => {
                        navigator.clipboard.writeText(color);
                    })

                    const span = document.createElement("span");
                    span.textContent = color;

                    div.appendChild(span);
                    container.appendChild(div);
                }

            })

        })
    </script>
</body>
</html>